body{
 background-color:#EEF9BF;
}
h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing:  -0.004em;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #75B79E;
    margin-top: 40px;
}

.conteudo-da-pagina{
    display: flex;
    justify-content: center;
}
#jogo{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.back-face{
    width: 117px;
    height:146px;
    margin-right: 34px;
    margin-bottom: 34px;
    flex-wrap: wrap;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frente{
    display: initial;
    width: 100px;
    height: 100px;

}

.viradaimg {
    display: none;
    width: 100px;
    height: 100px;
}
